body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #6C63FF;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    max-width: 100%;
}
span {
    font-size: 300%;
    letter-spacing: 5px;
}
.Bio{
    background-color: #6C63FF;
    color: white;
    padding: 10px;
}
.Education{padding: 10px;}
.Work{padding: 10px;}
.Hobbies{padding: 10px;}
.About{padding: 10px;}
.Education,.Hobbies,.Work{list-style: inside;}
.button{
    background-color: #6C63FF;
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    float: left;
}
a:visited{
    color: white;
    background-color: transparent;
    text-decoration: none; 
}
a:hover{
  color: #423bbd;
  background-color: transparent;
  text-decoration: underline;
}
@media screen and(max-width : 630){
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
        max-width: 100%;
    } 
    h1,p,ol{font-size: 10vw;}
}