.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
    height:200px;
    border-radius: 100%;
}
body
{
    background-color: white;
    color:rgb(89, 89, 230);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
span{font-size: 300%;}
.test{
    background-color:rgb(89, 89, 230);
    color:white;
}
a:link{
    color:green;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color:rgb(48, 48, 119);
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color:white;
    background-color: transparent;
    text-decoration: underline;
}
a:active{
    color:yellow;
    background-color: transparent;
    text-decoration: underline;
}
div{
    font-size: 120%;
    font-weight: bold;
}